In [397]:
import pandas as pd
import os 
import csv
import numpy as np
# import numpy as 
purchase_data = "Resources/purchase_data.csv"

purchase_data = pd.read_csv(purchase_data)

In [398]:
purchase_data_df = pd.DataFrame(purchase_data)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [399]:
# removing any missing data, Ceci helped me find the function to use here
player_demographics = purchase_data.loc[:,["Gender", "SN", "Age"]]
player_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
775  Female     Aethedru70   21
776    Male         Iral74   21
777    Male     Yathecal72   20
778    Male        Sisur91    7
779    Male      Ennrian78   24

[780 rows x 3 columns]

In [400]:
player_demographics = player_demographics.drop_duplicates() 
player_demographics

     Gender             SN  Age
0      Male        Lisim78   20
1      Male    Lisovynya38   40
2      Male     Ithergue48   24
3      Male  Chamassasya86   24
4      Male      Iskosia90   23
..      ...            ...  ...
773    Male         Hala31   21
774    Male     Jiskjask80   11
775  Female     Aethedru70   21
777    Male     Yathecal72   20
778    Male        Sisur91    7

[576 rows x 3 columns]

In [401]:
total_players = len(player_demographics["SN"].unique())
total_players

576

In [402]:
total_players = pd.DataFrame([{
    "Total players": total_players
}])
total_players.head()

   Total players
0            576

In [403]:
unique_items = len(purchase_data["Item Name"].unique())
unique_items

179

In [404]:
 average = purchase_data_df["Price"].mean()
average

3.050987179487176

In [405]:
sales = purchase_data_df["Price"].sum()
sales

2379.77

In [406]:
Unique_item = pd.DataFrame([{
    "Number of unique items": unique_items,
    "Average Price": average,
    "Number of purchases": total_players,
    "Total Revenue":sales,
}])
Unique_item.head()

,Number of unique items,Average Price,Number of purchases,Total Revenue
0,179,3.050987,Total players 0 576,2379.77

In [407]:
gender_total = player_demographics['Gender'].value_counts()
gender_total

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [408]:
gender_percentage = (gender_total/total_players) *100
gender_percentage.round(2)

   Female  Male  Other / Non-Disclosed  Total players
0     NaN   NaN                    NaN            NaN

In [409]:
gender_counts_df = pd.DataFrame(gender_total)
gender_counts_df.head()

                       Gender
Male                      484
Female                     81
Other / Non-Disclosed      11

In [410]:
gender_stat_df = pd.DataFrame({"Total Count": gender_total,
                                 "Percentage of Players": (f'hi') 
                                
})
gender_stat_df

                       Total Count Percentage of Players
Male                           484                    hi
Female                          81                    hi
Other / Non-Disclosed           11                    hi

In [411]:
total_play = len(purchase_data['Gender'])
total_play

gender_total_two = purchase_data_df['Gender'].value_counts()
total_play , gender_total_two

(780,
 Male                     652
 Female                   113
 Other / Non-Disclosed     15
 Name: Gender, dtype: int64)

In [412]:
gender_averages = purchase_data_df[["Gender", "Price"]]
gender_averages.head()

  Gender  Price
0   Male   3.53
1   Male   1.56
2   Male   4.88
3   Male   3.27
4   Male   1.44

In [413]:
average_group = gender_averages.groupby(["Gender"])
average_groups_df = average_group.mean()
average_groups_df

                          Price
Gender
Female                 3.203009
Male                   3.017853
Other / Non-Disclosed  3.346000

In [447]:
average_groups_df.reset_index(inplace=True)

In [414]:
average_group = gender_averages.groupby(["Gender"])
average_price_df = average_group.sum()
average_price_df

                         Price
Gender
Female                  361.94
Male                   1967.64
Other / Non-Disclosed    50.19

In [446]:
average_price_df.reset_index(inplace=True)

In [445]:
average_group = average_price_df.groupby(["Gender"])
average_total_df = average_group/gender_total_two
average_total_df

ValueError: operands could not be broadcast together with shapes (3,2) (3,)

In [448]:
average_stat_df = pd.DataFrame({"Purchase Count": gender_total_two,
                                "Average Purchase Price": average_groups_df,
                                "Total Purchase Volumme": average_price_df
})
average_stat_df

ValueError: Shape of passed values is (2, 3), indices imply (3, 3)